.navBar {
  background-color: #045604 !important;
}

h4 {
  color: white !important;
}

.dropdown {
  color: white !important;
}

.menu .item {
  color: white !important;
}

.footer {
  background-color: #045604;
  color: white;
}

.add-food {
  border: 1px solid black;
  padding: 20px;
  margin: 0 0 20px 0;
  color: black;
}

.upload-image {
  border: 1px solid black;
  border-radius: 5px;
  height: 160px;
  margin: 0 0 10px 0;
  padding: 20px;
}

