.navBar {
  background-color: #045604 !important;
}

h4 {
  color: white !important;
}

.dropdown {
  color: white !important;
}

.menu .item {
  color: white !important;
}

.footer {
  background-color: #045604;
  color: white;
}

